// ----------------
//      COLORS
// ----------------
$calypso: #25687f;
$concrete: #f2f2f2;
$emperor: #555555;
$dove-gray: #6c6c6c;
$white: #ffffff;
$black: #000000;

$color-primary: $calypso;
$color-background: $concrete;
$color-white: $white;
$color-black: $black;

$color-text-primary: $emperor;
$color-text-secondary: $dove-gray;
