// ---------------
//    FONT SIZE
// ---------------
$font-size-xxxlarge: 1.875rem; // 30px
$font-size-xxlarge: 1.5rem; // 24px
$font-size-xlarge: 1.25rem; // 20px
$font-size-large: 1.125rem; // 18px
$font-size-normal: 1rem; // 16px (base)
$font-size-medium: 0.875rem; // 14px
$font-size-small: 0.75rem; // 12px
$font-size-xsmall: 0.6875rem; // 11px
$font-size-xxsmall: 0.625rem; // 10px
