// -------------------
//    FLEXBOX MIXIN
// -------------------
@mixin flex($direction: false, $justify: false, $align: false, $gsb: false) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }

  @if $gsb {
    flex: $gsb;
  }
}
