.o-modal {
  @include flex($justify: center, $align: center);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  padding: $spacing-6x $spacing-4x 90px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color-black, 0.7);
  }
}

.o-modal__wrapper {
  @include flex(column);
  height: 100%;
  width: 100%;
  max-height: 600px;
  max-width: 500px;
  padding: $spacing-5x $spacing-6x;
  border-radius: 4px;
  background-color: $color-primary;
  box-shadow: 0 4px 8px rgba($color-black, 0.2);
  overflow-y: auto;
  z-index: 2;
}

.o-modal-header {
  @include flex($justify: space-between, $align: center);
}

.o-modal-header__title {
  margin: $spacing-2x 0;
  text-align: center;
  flex-grow: 1;
  font-size: $font-size-xlarge;
}

.o-modal__content {
  @include flex(column, space-around);
  flex-grow: 1;
  padding: $spacing-4x 0;
}
